.month-header {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 40px;
}
.month-body {
    display: flex;
    flex-direction: row;
    gap: 16px;
    }
    .month-visuals-left,
    .month-visuals-right {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    
    .month-visuals-left img,
    .month-visuals-right img {
      flex: 1;
      object-fit: contain;
      max-width: 50%;
      max-height: auto;
    }
