.month-header {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 40px;
}
.month-body {
    display: flex;
    flex-direction: row;
    gap: 16px;
    }
.bar-img {
    width: 50%;
    height: auto;
}
.spiral1-img {
    width: 50%;
    height: auto;
}
.spiral2-img {
    width: 50%;
    height: auto;
}